html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-size: x-large;
}
.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 608px;
    height: 352px;
    text-align: center;
    border: 1px solid white;
}